@charset "UTF-8";

@font-face {
    font-family: 'alfa';
    src: url('../font/SmoochSans.ttf');
  }
  
  @font-face {
    font-family: 'destaque';
    src: url('../font/JosefinSans.ttf');
  }
  
  
  :root {
    --cor0: #ffffff;
    --cor1: black;
    --cor2: #474747d7;
    --cor3: #2a4247d2;
    --cor4: #F58634;
    --cor5: rgba(58, 58, 58, 0.808);
    --cor6:#2E4144;
    --cor7:#0078FF;
      
    --fonte-texto: 'Arial' verdana helvetica;
    --fonte-destaque: 'destaque' Arial sans-serif;
    --fonte-header: 'alfa' Arial sans-serif;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor6);
    
}
main {
   max-width: 100%;
    background-color:var(--cor0);
    margin: 0 auto;
   
}
/*==========alinhamento com flex box==========*/
.center {/*============header cabeçalho==========*/
    max-width: 1100px;
    margin: 0 auto;
    padding: 0  2%;
    display: flex;
    flex-wrap: wrap;/* pra centralizar a div junto com main cta de width:100%;*/
    
}

/*=========section main=============*/

section.main {
   background-color: var(--cor6);
  /* background-image: url('../img/AlfaNerd.png');*/
   min-height: 900px; /*e usa pra definir tamanho da area*/
  padding: 40px 0;
   background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.main_cta {
    width:1000px;
    height:30vh;
    padding-bottom:55px;
    text-align: center;
}

.main_cta h2 {
    color:var(--cor4);
    font-size: min(2.2em, 4.9vw);/*se usa para dimencionar o tamanho do texto de forma responsiva*/
    text-shadow: 1px 1px 0px var(--cor6);
}
.main_cta p {
    color: var(--cor0);
    font-size: 19px;
    margin:10px 0;
    font-size: min(1.2em, 3.9vw);
    text-shadow: 1px 1px 0px var(--cor6);/*se usa para colocar sobra no texto*/
}
.main_cta button {
    background-color: var(--cor4);
    color: var(--cor0);
    display: inline-block;
    padding: 8px 30px;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}
/*===PAGINA PRINCIPAL DIFERENCIAL*/
.diferenciais {
    display: flex;/*usamos pra colocar uma do lado da outra nas divs*/
    flex-wrap: wrap;
}
.diferencial-single {
    background-color: var(--cor0);
    /*width: calc(100% / 4);  se usa pra calcular a divisao da div */
    width: 24.5%;
    margin-right:  0.5%;
    padding:50px 20px;
    border-radius: 6px;
}
.diferencial-single i {/*svg font Awesome*/
    color: var(--cor4);
    font-size: 25px;
}
.diferencial-single h2 {
    color: var(--cor4);
    text-shadow: 1px 2px 2px 0px;
    margin:10px 0;
    font-size:18px;
}
.diferencial-single p {
    color: var(--cor3);
    font-size:14px;
    line-height: 25px;/*distanciamento do texto de baixo*/
}
/*======section Sobre======*/
section.sobre {
    padding: 60px 0;
    background-color: var(--cor0);
}
.chamada-sobre {
    width:100%;
    text-align: center;
    text-transform: uppercase; /*coloca o que ta em minusculo maiusculo*/
}
.chamada-sobre h2 {
    color: var(--cor4);
    padding-bottom:10px;
}
.chamada-sobre p {
    font-size: 14px;
    color: var(--cor3);
    margin:10px 0;
}
.conteudo-sobre{
    display:flex;/*coloca dentro de uma div do lado da outra*/
    font-size: 14px;
    color: var(--cor3);
    flex-wrap: wrap;
}
.conteudo-sobre p {
    width: 48%;
    margin-right: 2%;
}
.conteudo-sobre span {
    display: inline-block;
    width: 100%;
    margin-top:10px;
}
.conteudo-sobre i {
    color: var(--cor4);
    font-size:15px;
}
.conteudo-sobre .botao {
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 5px;
    border:0;
    border-radius: 6px;
}
section.conquistas {
    background-color: var(--cor0);
    padding:20px 0;
}
.conquista-single {
    width:22%;
    margin-right:3%;
    text-align: center;
    color: var(--cor3);
}
.conquista-single h2 {
    color: var(--cor4);
    font-size:30px;
}
section.imagens-lado-a-lado {/* seçao de conquistas colocando imagens*/
    background-color: var(--cor0);
    padding:20px 0;
    width: 54%;/*dimenciona a div ou seçao na tela*/
    margin:0 auto;/* alinha conteudo ao centro*/
    margin-bottom:10px;
}
.imagens-single img {/* seçao de conquistas colocando imagens*/
    max-width: 100%;
    filter: grayscale(100%);/*se usa para tornar preto e branco ou cinza escuro*/
    transform: scale(1,1);/*usado para zoom em imagem ou texto*/
    transition: 1s;/*asnimaçao de transiçao suave*/
}
.imagens-single img:hover {/*se usa hover para interaçao animada*/
    filter: grayscale(0%);
    transform: scale(2,2);
}

.imagens-single {
    width:24%;
    margin-right:1%;
    text-align: center;
    color: var(--cor3);
}
.imagens-single h2 {
    color: var(--cor4);
    font-size:30px;
}
section.outra-secao {/*aqui começa uma secao com foto lateral e descriçao ao lado*/
    padding:40px 0;
}
.outra-secao {
display: flex;

}
.outra-secao-conteudo-img {
    width: 50%;/*tamanho dimencionado responsivo na imagem deve ser colocado junto com metodo responsivo de 100%*/
}
.outra-secao-conteudo-img img{max-width:100%;}/*metodo responsivo para colocar imagem*/
.outra-secao-conteudo {
    width: 50%;
    padding: 0 50px;
}
.outra-secao-conteudo h2 {
    color: var(--cor4);
    margin-bottom:10px;
}
.outra-secao p {
    line-height: 25px;
}
#titulocelular  {/*colocando titulo a amostra quando diminue e some quando aumenta*/
    display: none;/*deixa oculto*/
    color: var(--cor4);
    margin-bottom:10px;
}
.outra-secao-conteudo p {
    color: var(--cor0);
    margin-bottom:14px;
}


/*=========CARROSEL DE DEPOIMENTOS=================*/
    section.depoimentos {
    padding: 40px 0;
    margin: 0 auto;/*margin centralizada*/
}
.depoimentos-chamada {
    text-align: center;
    text-transform: uppercase;/*coloca o texto em maiusculo indepedente se estiver minusculo*/
    font-size: 14px;  
    margin: 0 auto;/*margin centralizada*/
}
.depoimentos-chamada h2 {
    color: var(--cor4);
    text-align: center;
}
.depoimentos-chamada p {
    color: var(--cor0);
    margin:10px 0;
}
.carrousel {
    display: flex;    
    margin: 0 auto;/*margin centralizada*/
}
.carrousel-single {
    width: 35%;
    margin-right: 2%;
    text-align: center;
}
.carrousel-single span {
    color: var(--cor2);
}
.carrousel-single p {
    color: var(--cor1);
    padding-bottom:5px;
}
.carrousel-single img {
    width: 50px;
    height:50px;
    display: inline-block;/* deixa o conteudo sob controle movel no bloco*/
    margin: 10px 0;/* se usa para alinhar*/
    border-radius: 50%;
}
.carrousel-single-box {
    padding:10px;
    background-color:var(--cor0) ;
    margin-bottom:10px;
    border-radius: 10px;
}
.carrousel-single-box p {
    font-style: italic;
    font-size: 12px;
}
.carrousel-single-box i {
    color: var(--cor4);
    font-size:16px;
    padding: 0 8px;/*==============FIM CARROSEL DEPOIMENTOS===========*/
}


footer {/*configuraçao rodape*/
    background-color: var(--cor6);
    padding-top:10px;
    padding-bottom:15px;
    border-top: 2px solid white;
    text-align: center;
    color: var(--cor0);
}
footer h1 {
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-weight: bold;
}
footer p {
    font-size: 12px;
}
#link-rodape a{
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}
#link-rodape {
    font-family: var(--fonte-padrao);
    font-weight: normal;
    text-decoration: none;
    text-align: right;
    padding-right: 10px;
    padding-top: 15px;
}
/*======PROPAGANDA FINAL DA PAGINA=============*/
.propaganda {
    width: 100%;
    background-color:var(--cor0);
    margin-top:10px;
    
}
.propaganda p {
    font-size:9px;
}
.center-propaganda {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:20vh;
/*background-color: var(--cor1);*/
justify-content:space-between;
}
.propaganda1 {
    background-color: var(--cor4);
    width:15%;
    BORDER: 2PX SOLID white;
    justify-content: center;
    align-items: center;
}
.propaganda2 {
    background-color: var(--cor7);
    width:15%;
    BORDER: 2PX SOLID white;
}
/*media query se usa para tornar responsivo usando as classes dimencionando o tamanho da tela*/
@media screen and (max-width: 400px){/*menor que 400px*/
   section.conquistas h2 {
        font-size: 1em;
    }
    .logo h2 {
        font-size:1em;
    }
    .main h2  {
        font-size:1.3em;
    }
    .main p{
        font-size:0.9em;
    }
    .diferencial-single img {
        padding-left:0%;
        width:50%;
    }
    
}
@media screen and (min-width: 768px){
    .diferencial-single img {
        padding-left:0%;
        width:90%;
    }
    .diferencial-single {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {/*menor que 768px*/
    .diferencial-single{
        width:100%;
        margin-bottom:10px;
    }
    .conteudo-sobre p {
        width:100%;
        margin-bottom:20px;
    }
    .outra-secao-conteudo-img {
        width: 100%;/*tamanho dimencionado responsivo na imagem deve ser colocado junto com metodo responsivo de 100%*/
    }
    .outra-secao-conteudo {
        width: 100%;
        padding: 0 30px;
    }
    .outra-secao-conteudo h2 {/*colocando titulo oculto quando diminue*/
        display:none;
    }
    .outra-secao-conteudo p {
        padding-top: 10px;
        line-height: 25px;
    }
    #titulocelular  {/*colocando titulo a amostra quando diminue*/
        display: inline;
        color: var(--cor4);
        margin-bottom:10px;
    }
    section.imagens-lado-a-lado {/* seçao de conquistas colocando imagens*/
        background-color: var(--cor0);
        padding:20px 0;
        width: 100%;
        margin:0 auto;
    }
    article.artigo-carrosel {/*carrosel de fotos some ao diminuir tela*/
        display: none;
    }
    .diferencial-single img {
        padding-left:0%;
        width:100%;
    }
}