@charset "UTF-8";

@font-face {
    font-family: 'alfa';
    src: url('../font/SmoochSans.ttf');
  }
  
  @font-face {
    font-family: 'destaque';
    src: url('../font/JosefinSans.ttf');
  }
  
  
  :root {
    --cor0: #ffffff;
    --cor1: black;
    --cor2: #474747d7;
    --cor3: #2a4247d2;
    --cor4: #F58634;
    --cor5: rgba(58, 58, 58, 0.808);
    --cor6:#2E4144;
    --cor7:rgba(151, 151, 151, 0.425);
    --cor8:#ffffff00;
      
    --fonte-texto: 'Arial' verdana helvetica;
    --fonte-destaque: 'destaque' Arial sans-serif;
    --fonte-header: 'alfa' Arial sans-serif;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor6);
    
}
main {
   max-width: 100%;
    background-color:var(--cor6);
    margin: 0 auto;   
}
h1, h2 {
    padding:5px;
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-align: center;
    font-size:  min(2.2em, 5.9vw);
    text-shadow: 1px 1px 0px var(--cor1);
}
p {
    font-family: var(--fonte-texto);
    padding:5px;
    text-align: center;
    letter-spacing: 1px;/*espaço entre letras*/
    line-height:1.5;/*distanciamento das letas pra baixo*/
    padding-bottom:10px;
   /* font-size: (1.2vw);/*se usa para dimencionar o tamanho do texto de forma responsiva*/
    font-size:  min(1.5em, 3.9vw);
   /* text-shadow: 1px 1px 0px var(--cor6);/*sombra no texto*/
}
section {
    width: 100%;
    background-color:var(--cor0);
}
/*======================CABEÇALHO HEADER MENU=====================*/

 header a {/*link do menu*/
    color:black;
    text-decoration:none;
    font-family: sans-serif;font-weight: normal;
    /*transform: scale(1,1);*/
    transition: 0.3s;
}
header a:hover {/*
    background-color: rgba(0, 0, 0, .10); */   
    color: var(--cor4);
    font-weight: normal;
   /* transform: scale(1.1,1.1);*/
}
 #logo {/*link da logo*/
    font-size:min(1.2em, 3.9vw);
    font-weight: bold;
    background:none;
    color: var(--cor4);
    transform: scale(1);
    transition: 0.5s;
    margin-left:18px;
    align-items: center;
    display:flex;
    text-decoration: none;
}
 #logo:hover {
    transform: scale(1.1);
}
.a-logo {
    display: none;
}

@media screen and (min-width: 768px) {
    #logo img{
        width: 28px;
    }
    #logo {
        border-bottom:none;
    }
}
@media screen and (max-width: 768px) {
    .a-logo {      
        display: block;
        filter: grayscale(100%);
        transition:0.4s;
        
        
    }
    .img-logo {
        width:24px;
        max-width:28px;
    }
    .a-logo:hover {
        border:none;
        filter: grayscale(0%);
        
    }
    #logo {
        display:none;
    }
}

/*=============================redes sociais=========================*/
section.imagens-lado-a-lado {/* seçao de conquistas colocando imagens*/
    background-color: var(--cor0);    
    padding:2px 0;
    width: 100%;/*dimenciona a div ou seçao na tela*/
   /* margin:0 auto;/* alinha conteudo ao centro*/
   display: flex;
    margin-bottom:0px;margin: 0 auto;
    
}
/*
.center {/*============div centro interna==========*
    max-width: 200px;
    width:100%;
    margin: 0 auto;
    padding: 0  1%;
    display: flex;
    flex-wrap: wrap;/* pra centralizar a div junto com main cta de width:100%;*
    margin: 0 auto;
    border: 2px solid black;
}*/
.imagens-single img {/* seçao de conquistas colocando imagens*/
    width:25px;
    max-width: 30px;
    filter: grayscale(100%);/*se usa para tornar preto e branco ou cinza escuro*/
    transform: scale(1,1);/*usado para zoom em imagem ou texto*/
    transition: 1s;/*asnimaçao de transiçao suave*/
}
.imagens-single img:hover {/*se usa hover para interaçao animada*/
    filter: grayscale(0%);
    transform: scale(1.5,1.5);
}

.imagens-single {
    width:350px;
    /*margin-right:%;*/
    text-align: center;
    color: var(--cor3);
}
@media screen and (max-width: 500px) {
    .imagens-single img {/* seçao de conquistas colocando imagens*/
        width: 35px;
    }
    section.imagens-lado-a-lado {/* seçao de conquistas colocando imagens*/
    width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .imagens-single img {/* seçao de conquistas colocando imagens*/
        max-width: 18px;
    }
    section.imagens-lado-a-lado {/* seçao de conquistas colocando imagens*/
        padding:3px 0;
        width: 40%;/*dimenciona a div ou seçao na tela*/
        margin:0 auto;/* alinha conteudo ao centro*/
        margin-bottom:5px;
        padding-top: 14px;
    }
    .imagens-single {
        width:24%;
        margin-right:1%;
        text-align: center;
    }
}
/*=========================fim de redes sociais===============*/
.rede-social {
    width: 19%;
    background-color:var(--cor0);
    position:sticky;
    z-index: 999;
    left: 0;
    top: 0;
    padding-top:17px;
    border-bottom:2px solid var(--cor4);float:right;
}
@media screen and (max-width: 768px){
    .rede-social {
        width: 100%;
    }
}

header {
    box-sizing: border-box;
    height: 47px;
    padding: 1rem;
    display: flex;
    align-items: center;/*alinhar ao centro da div*/
   justify-content: space-between;/*espaço igual entre propriedades*/
    background-color: var(--cor0);
    position:sticky;/*======SE USA PARA MENU SEGUINDO*/
    left: 0;
    top: 0;
    z-index: 999;/* se usa para o conteudo ficar embaixo do menu seguindo*/
    border-bottom:2px solid rgba(0, 0, 0, 0.363);
}

#menu {/*classe da ul*/
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
    padding: .5rem;
}
span {
    margin-left:10px;
}
#btn-mobile {
    display: none;
}
@media (max-width: 600px) {/*=====AREA RESPONSIVA DO MENU========*/
    #btn-mobile {
        display: block;
    }
    #menu {
       display: block;
       position: absolute;
       width: 100%;/*se usar 100% preenche a tela de um lado ao outro*/
       top:47px;
       right:0px;
       background-color:#e7e7e7;
       /*height: calc(100vh -70px);/*vew port higth ocupa a tela inteira - os 70px do cabeçalho que foi definido */
       transition: .6s;
       z-index: 5000;
       height:0px;
       visibility:hidden;
       overflow:hidden;
        text-align: center; /*se usar sem text-align ele se alinha a esquerda
        padding-bottom: 5px;*/
    }
    #nav.active #menu {
        display:block;
        height: 250px;
        visibility:visible;
        /*overflow-y: auto;*/
    }
    #menu a {
        padding: 1rem 0;
        /*margin: 0 1rem;*/
        border-bottom: 2px solid rgba(0, 0, 0, 0.13);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border:none;
        background:none;
        cursor:pointer;
    }
    #hamburger {/*design menu hamburger*/
        border-top: 2px solid;
        width: 20px;
        color:orange;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color:transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*=====FIM CABEÇALHO MENU*/

/*==============================VIDEO RESPONSIVO====================*/

.video-embed {
    position:relative;
    width:100%;
    padding-bottom:56.25%;/*proporçao de 75% fica 4 por 3 e 56.25% pra tela maior*/
}
.video-embed iframe{
    position:absolute;
    width:100%;
    max-width: 560px;
    max-height:315px;
    height:100%;    
    border:none;
}
.video-col {
    place-self:center;
    width:50vw;
    margin:1px;
    padding:5px;
    /*border-radius:1rem;*/
   /* box-shadow:0px 4px 0px lightgray;*/
    background-color:rgb(226, 109, 14);
    max-width: 560px;
    max-height:318px;
}
.container-video {
    display: grid;
    width: 100%;
    background-color:rgba(0, 0, 0, 0);
    margin:0 auto;
    max-width: 562px;
    max-height:320px;
}
@media screen and (max-width: 768px) {
    .video-col {
        width:100%;        
    }
    .container-video {
        width:100%;   
    }
    .texto-video {
        width:100%;
    }
    .secao-video {
        width:100%;
        /*flex-wrap: wrap;*/
    }
    .emcapsulamento {
        width:100%;
        }  
}

.secao-video {
    width:100%;
    max-width: 1000px;/*mudar para 900px ou melhor proporçao de tela ou 100% pra usar o display flex*/
    background-color:rgb(241, 3, 202);
    margin:0 auto;
    /*display: flex;*/
    
}
.emcapsulamento {
    width:100%;
    background-color:var(--cor0);
    margin:0 auto;
/*flex-wrap: wrap;*/
}
.video-comtexto {
    text-align: center;
}
.texto-video {
    width:100%;
    max-width: 450px;
    padding-top:15px;
    padding:5px;
    margin:0 auto;
    
}
.texto-video p {
    text-align:justify;
}

/*========================tipo de posicionamento guanabara=============*//*
div.video {
  background-color: var(--cor8);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 55%;
  position: relative;
  width: 100%;
  height: 100%;
  margin:0 auto;
}
div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
/*video responsivo*
.video {
    width: 56%;
    max-width: 560px;
    background-color: black;
    margin:0 auto;text-align: center;
}
.video iframe {
    width:100%;
    height:31.5vw;
    max-height: 315px;
}

@media screen and (max-width: 400px){
    .video {
        width:100%;
        height:315px;
    }
    .video iframe {
        height:100%;
    }
}
/*video responsivo*

@media screen and (min-width: 650px){
    div.video {
        padding-bottom: 45%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
}
@media screen and (min-width: 700px){
    div.video {
        padding-bottom: 45%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
}
@media screen and (min-width: 900px){
    div.video {
        padding-bottom: 35%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
}
@media screen and (min-width: 1060px) {
    div.video {
        padding-bottom: 29%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
}
@media screen and (min-width: 1200px) {
    div.video {
        padding-bottom: 29%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
}
@media screen and (min-width: 1999px) {
    div.video {
        padding-bottom: 20%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
}
@media screen and (min-width: 1250px) {
    div.video {
        padding-bottom: 22%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
}
@media screen and (min-width: 1650px) {
    div.video {
        padding-bottom: 19%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
} =================video 2========================*//*
.video {
    width: 56%;
    max-width: 560px;
    background-color: black;
    margin:0 auto;text-align: center;
}
.video iframe {
    width:100%;
    height:31.5vw;
    max-height: 315px;
}

@media screen and (max-width: 400px){
    .video {
        width:100%;
        height:315px;
    }
    .video iframe {
        height:100%;
    }
}


/*
@media screen and (min-width: 1550px){
    div.video {
        background-color: var(--cor7);
        padding-bottom: 18%;
        position: relative;
        width: 100%;
        height: 100%;
        margin:0 auto;
      }
    
}*/
/*fim de posicionamento guanabara*/
/*
section .video {
    width: 100%;
    max-width: 560px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 1%;
    background-color: var(--cor8);
    
}
.video iframe {
    width:100%;
    height:31.5vw;
    max-height: 315px;
}
.container-video {
    width: 100%;
    padding:1%;
    margin:0 auto;display:flex; flex-wrap: wrap;
}*

@media screen and (max-width: 768px){
    section .video {
        width: 68%;
        max-width: 560px;
        margin:0 auto;
        text-align: center;
    }
    .videoh1  {
        display:none;
    }
    .container-video {
        width: 100%;
        height:100%;
        max-width: 100%;
        padding:1%;
        margin:0 auto;
        display:inline-block;
    }
    }


@media screen and (max-width: 400px){
   section .video {
    width: 100%;
    height: 100%;
    max-width: 560px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 1%;
   /* border:2px solid var(--cor7);*
    background-color: var(--cor8);
}
.video iframe {
    width:100%;
    height:31.5vw;
    max-height: 315px;
}
.container-video {
    width: 100%;
    height:200px;
    padding:1%;
    margin:0 auto;
}
}*/
/*=============================FIM DE VIDEO RESPONSIVO====================*/
/*=====imagem responsiva*/
img {
    width: 100%;
}

/*====SLIDE DE FOTOS====*/

.corpo-slide {
    margin:0 auto;
    width:100%;
    height:100%;
    padding-bottom:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--cor6);display:flex;
}
.propaganda {/*PROPAGANDA*/
   /* width:20%;
    height:300px;
    margin:1%;
    /*background-color: var(--cor0);*/
}
.propaganda1 {
   /* background-color: var(--cor1);
    margin:0 auto;
    color:white;*/
}
@media screen and (max-width: 768px){
    .propaganda {
        width:98%;
        margin:1%;
    }
}
/*FIM DE PROPAGANDA*/
.slider {
    margin: 0 auto;    
    width:900px;
    height:450px;
    overflow:hidden;
    
}
.slides {
    width:450%;
    height:450px;
    display:flex;
   
}
.slides input {
    display:none;
}
.slide {
    width:25%;
    position:relative;
   /* transition: 0.8s;*/
}
.slide img {
    width: 900px;
   
}
.manual-navigation {
    position: absolute;
    width: 900px;
    margin-top: -40px;
    display:flex;
    justify-content: center;
    background:rgba(0, 0, 0, 0.452);
    padding:13px
}
.manual-btn {
    border: 2px solid white;
    padding:5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
    
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
    
}
.manual-btn:hover {
    background:white;
}
#radio1:checked ~ .first {
    margin-left: 0%;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}
#radio5:checked ~ .first {
    margin-left: -100%;
}
.navigation-auto div {
    border: 2px solid rgb(46, 31, 180);
    padding:5px;
    border-radius:10px;
    cursor:pointer;transition:1s;
    
}
.navigation-auto {
    position:absolute;
    width:900px;
    margin-top:423px;
    display:flex;
    justify-content:center;
  /*  background:rgba(0, 0, 0, 0.452);*/
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: white;
}

/*MODO RESPONSIVO*/

@media(max-width:768px) {
   .corpo-slide {
        width:100%;
        height:100%;
        padding:0px;
        display:block;
        border-bottom: 2px solid white;
    }
    .slider {
        margin: 0 auto;    
        width:100%;
        height:280px;
        
    }
    .slides {
        width:550%;
        height:100%;
       
    }
    .slide img {
        width: 100%;
        height:100%;
       
    }
    .manual-navigation {
        width: 40%;
        padding-left:24px;
        margin-top: -43px;
        margin-left:25%;        
        padding-bottom:15px;
        background:none;
    }
    .manual-btn {
        border: 2px solid rgb(255, 255, 255);
        padding:5px;
        border-radius: 10px;
        cursor:pointer;
        transition: 1s; 
             
    }
    .manual-btn:not(:last-child) {
        margin-right: 15px; 
             
    }
    .navigation-auto div:not(:last-child) {
        margin-right: 15px;display:none;
    }
    .navigation-auto div {
        padding:5px;
        border-radius:10px;
        display:none;
        
    }
    .navigation-auto {
        width:100%;
        margin-top:250px;
    }
}
@media screen and (max-width: 917px){
    .manual-navigation {        
        background:none;
    }
}
/*====FIM DE SLIDER DE FOTOS*/
/*====================CARROSEL DE FOTOS SIMPLES ROTATIVO================*/
article.artigo-carrosel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;/*
    min-height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor0);
    height:200px;
    width: 600px;
    background-size: cover;
    margin-bottom: 10px;
    margin-top:10px;
}

.carrosel-fotos {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height:200px;
    width: 600px;
    display:inline-flex
    
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transition: translateX(0);
}
.container img {
    object-fit: cover;
    height: 200px;
    width: 600px;
}

/*=========RESPONSIVO=========*/
@media screen and (max-width: 768px) {/*menor que 768px*/
    article.artigo-carrosel {/*carrosel de fotos some ao diminuir tela*/
        
        width: 100%;
        
    }
    .container img {
        height: 100%;
        
    }
    .carrosel-fotos {
        height:100%;
    }  
}
/*========FIM DE CARROSEL SIMPLES=========*/
/*================================GALERIA DE FOTOS EM ARTIGOS==============*/
section, .section-galeria {
    width:100%; 
    background-color: var(--cor0);
}
.container-galeria {   
    max-width: 900px;
    background-color:var(--cor0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*colunas*/
    /*grid-template-rows:;/*linhas*/
    grid-gap: 2px 2px;
    padding:1px;
    border-radius:10px;
    margin:0 auto;
}/* metade do cogigo em seção de destaque*/

.grid-galeria:nth-child(1) {
    grid-row: 1/3;
}
.grid-galeria:nth-child(5) {
    grid-row: 1/3;
    grid-column: 3;
}
.grid-galeria, a {
    display:grid;
    transform-origin: 1,0;
    transition: 0.6s;
    text-decoration: none;
}

.grid-galeria:hover {
    transform: scale(0.9);
    
}
.grid-galeria img {
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    background-size: cover;
    align-self: end;/*alinhar imagem ao fim*/
    border-radius:10px;   
    
}
.grid-galeria p {
    background-color: rgba(0, 0, 0, 0.6);
    color:var(--cor0);
    font-size: min(0.6em, 3.5em);
    font-weight: normal;
    text-align: center;
    padding:5px;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    border-radius:10px;
}
.h1-destaque {
    text-align: center;
    padding:10px;
}

@media screen and (max-width:500px) {
    .container-galeria  {
        display:flex;
        flex-wrap: wrap;
    }
}


/*
.clear {
    clear:both;
}
/* aplicando o display inline*
.container-galeria{
    width:100%;
    padding:2% 20px;   
    text-align: center;    
    cursor:pointer;
    background-color: var(--cor0);/*cor da opacidade*
  transition: 0.3s;/*amimaçao de transiçao opacidade*
}
.galeria div:hover {
    opacity: 0.8;/*animaçao de opacidade*
}

.box1 {
    width: 33.3%;
    height:300px;
    max-width: 300px;
    margin-right: -4px;
    background-color: var(--cor4);
    display: inline-block;
    border: 1px solid var(--cor0);
    border-radius:8px;
   /* background-repeat: no-repeat;*
    background-position: center;
    background-size:cover;
}
.box1:last-child {
    margin-right: 0;
}
.box1 span {
    position:absolute;
    color:var(--cor0);
    background-color: var(--cor1);
    border-radius:8px;
}

/*exemplo 50%*
@media screen and (max-width: 768px) {
    .galeria {
        text-align: center;
    }
    .box1 {        
        width: 50%;
        margin-bottom:-2px;
        max-width: none;
    }
    .box1:nth-of-type(2) {
        margin-right:0;
    }
    
}

/*exemplo 100%*
@media screen and (max-width: 580px) {
    .box1 {
        width: 100%;
        margin-right:0;
        margin-bottom:-2px;
    }
}*/
/*=========================FIM DE GALERIA DE FOTOS EM ARTIGOS========*/

/*================================CONTEUDO DO SITE===================*/
section {/*==================INICIO SECTION=======*/
    width: 100%;
    
}
.titulo-site {
    width: 100%;
    background-color: var(--cor0);
    margin: 0 auto;
    
}
.center-titulo {
    width: 60%;
    margin: 0 auto;   
    
   /* background-color: rgba(0, 0, 0, 0.247);*/
}
.center-titulo p {
    text-align: center;
}
.center-titulo h1 {
    text-shadow: 1px 1px 0px var(--cor1);
}

/*=================================FIM DE SECTION*/

/*=================================INICIO ARTICLE POST  INDIVIDUAL=========*/
article {
    width:100%;    

}
.titulo-artigo{
    padding:0px
}
.artigo-container {
   /* border: 2px solid;*/
}
.bloco {
    width:100%;
    background-color: var(--cor0);
    max-width: 1000px;
    margin:0 auto;
    text-align: center;
   /*background border: 1px solid;
    border-radius:10px;*/
}
.bloco span {
    position: relative;
    bottom:48px;
    color: var(--cor0);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.425);
    padding:5px;
    width: 100%;
    font-size:  min(2.2em, 3.9vw);
}
.bloco img {
    width:100%;
    height:100%;
    background-size: cover;
    border: 1px solid var(--cor0);
    /*border-top-left-radius:10px;
    border-top-right-radius:10px;*/
}
.bloco p{
    text-align:justify;
    margin:0 auto;
    width:90%;
    max-width:560px;
    background-color:var(--cor7);
}

/*=================================INICIO ARTICLE POST  INDIVIDUAL===========*/
/*========================SEÇAO DE DESTAQUES================*/
.destaques {
width:100%;
background-color: var(--cor0);

}
.destaque-container {
display:flex;
width:100%;
max-width:900px;
margin:0 auto;
}
.destaqueh1 {
width: 35%;
height:30%;

}
.destaqueh1 h1 {
    font-size: 2em;
}
.container-h1 {
    width: 100%;
    display: flex;/* se usa para alinhar ao centro na div pai coloca-se display: flex;
    justify-content: center;
    align-items: center;*/
    align-items: center;
    
}
.destaque-conteudo {
width: 100%;
max-width:250px;
padding:5px;
}
.destaque-conteudo img {
    max-width:200px ;
}
#destaque-span {
    max-width:1px;
    
}

@media screen and (max-width: 768px){    
        .destaque-conteudo {
            width:100%;
            max-width:300px;
            flex-wrap: wrap;
            margin:0 auto;
        }
        .destaque-conteudo img {
            max-width:300px ;
        }
        .destaque-container {
            width: 100%;
            flex-wrap: wrap;
            }
            .destaqueh1 {
                width:100%;
                max-width:100%;
                flex-wrap: wrap;
                margin:0 auto;
            }
            .container-h1 {
                width: 100%;
                display:block;
            }
}
/*=====================GALERIA DE DESTAQUES=========*/
.section-grid {
    width:100%; 
    background-color: var(--cor6);
}
.container-grid {   
    max-width: 900px;
    background-color:var(--cor4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*colunas*/
    /*grid-template-rows:;/*linhas*/
    grid-gap: 2px 2px;
    padding:1px;
    border-radius:10px;
    margin:0 auto;
}

.grid-box:nth-child(1) {
    grid-row: 1/3;
}
.grid-box:nth-child(5) {
    grid-row: 1/3;
    grid-column: 3;
}
.grid-box, a {
    display:grid;
    transform-origin: 1,0;
    transition: 0.6s;
    text-decoration: none;
}

.grid-box:hover {
    transform: scale(0.9);
    
}
.grid-box img {
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    background-size: cover;
    align-self: end;/*alinhar imagem ao fim*/
    border-radius:10px;
    
    
}
.grid-box p {
    background-color: rgba(0, 0, 0, 0.6);
    color:var(--cor0);
    font-size: min(0.6em, 3.5em);
    font-weight: normal;
    text-align: center;
    padding:5px;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    border-radius:10px;
}
.h1-destaque {
    text-align: center;
    padding:10px;
}

@media screen and (max-width:500px) {
    .container-grid  {
        display:flex;
        flex-wrap: wrap;
    }
}
/*=====================FIM GALERIA DESTAQUE==================*/

/*====================FIM DE SEÇAO DE DESTAQUES==============*/
/*====================SEÇÃO DE DESTAQUE CURIOSIDADE===========*/



/*================FIM DE SEÇÃO DE DESTAQUE CURIOSIDADE========*/
/*=========================SOBRE NOS==============*/
.sobrenos {
        width: 60%;
        
        line-height:2em;
        font-family: var(--fonte-estilo);
        margin: 0 auto;
}
.normal1 {
    padding-top: 10px;
    padding-bottom: 10vh;
    line-height:2em;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--fonte-estilo);
    
  }
  .normal2 {
    padding-top: 20%;
    padding-bottom: 100vh;
    line-height:2em;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--fonte-estilo);
    
  }
.sobrenos-h1 {
    width:100%;
    background-color: var(--cor0);
    
    padding-top: 5vh;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--cor4);
}
section.imagem {
    height: 60vh;
    background-color: darkgrey;
    color: white;
    text-align: justify;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.774);
    background-attachment: fixed;
    background-size: cover;
  }
  
  section.normal {
    background-color: white;
    color: black;
    text-align: justify;
  }
  section#sobrenos {
    background-image: url('/img/FOTO-CARROSEL2.png');
    background-position: right center;
    
  }
  section.imagem > p {    
    width: 85%;
    margin: 0 auto;    
    padding: 5px;
    padding-top:300px;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 10px;
    text-align: justify;
    padding-bottom: 2em;
    text-shadow: 1px 1px 0px black;
  }
  
  section.normal > p {
    padding-bottom: 2em;
    background-color: white;
    padding: 10px;
    text-align: justify;
  }
  section.normal {
    background-color: white;
    color: black;
    text-align: justify;
  }
@media screen and (max-width: 932px) {
    .sobrenos {
    width: 100%;
    }
    .normal2 {
        padding-top: 30%;
        padding-bottom: 600px;
        
      }
}
/*=========================FIM DE SOBRE NOS========*/
/*============================================FIM DO CONTEUDO DO SITE============*/
/*======RODAPE====*/
footer {/*configuraçao rodape*/
    background-color: var(--cor6);    
    padding-top:10px;
    padding-bottom:15px;
    border-top: 2px solid white;
    text-align: center;
    color: var(--cor0);
}
footer h1 {
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-weight: bold;
}
footer p {
    font-size: 12px;
}
#link-rodape a{
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
#link-rodape {
    font-family: var(--fonte-padrao);
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
}
/*=====FIM DE RODAPE=====*/